.active {
 background-color: #7CA94E;
 color: white !important;
 border-radius: 5px;
 padding: 6px 12px;  
}

.active:hover {
 background-color: #679438;
 transform: scale(1.05);
}

.badge-cart {
    position: absolute;
    top: -4px;
    right: -10px;
    font-size: 12px;
    min-width: 20px;
    padding: 0px 6px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}