.volver {
  color: var(--color-verde);
}

.product-img {
  width: 100%;
  height: 450px;
  background-color: #f8f9fa;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin-bottom: 0;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-img img:hover {
  transform: scale(1.05);
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.product-details h1 {
  color: var(--color-verde);
}

.price {
  font-size: 30px;
  color: var(--color-verde);
  margin: 20px 0;
}

.unidad-medida {
  font-size: medium;
  vertical-align: middle;
  margin-left: 2px;
  color: var(--color-gris);
}


.quantity-controls {
  background: transparent;
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: fit-content;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family:sans-serif;
}

.quantity-controls small {
    color:  var(--color-gris);
    font-weight: 500;
    font-size: 12px;
}

.btn-menos,
.btn-mas {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-menos:hover,
.btn-mas:hover {
  background-color: var(--color-verde);
  color: var(--blanco);
}

.btn-menos:disabled {
  border-color: var(--gris-suave);
  color: var(--gris-suave);
  cursor: not-allowed;
  pointer-events: none;
}

.quantity {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 15px;
  min-width: 25px;
  text-align: center;
}

.btn-carrito {
  background-color: var(--color-naranja);
  color: var(--blanco);
  border: none;
  padding: 12px 30px;
  border-radius: 12px;
  font-weight: 700;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(124, 169, 78, 0.2);
}

.btn-carrito:hover {
  background-color: var(--color-naranja-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(124, 169, 78, 0.3);
}