<article class="product-card card h-100 hover-card">

    <a [routerLink]="['/product-detail', myProduct()?.id]" class="product-img-link">
        <img class="card-img-top" [src]="myProduct()?.imageUrl" [alt]="myProduct()?.name">
    </a>

    <div class="card-body">
        <h5 class="card-title fw-semibold text-dark">{{ myProduct()?.name }}</h5>
        <p class="card-text fs-5" style="color:  #2C5F2D;">{{ myProduct()?.price?.toFixed(2) }} € /kg</p>

    </div>

    <div class="d-flex justify-content-center mt-auto p-4">
        <button class="btn btn-carrito w-100" (click)="cartService.addToCart(myProduct()!)">
            Añadir
        </button>
    </div>


</article>