<div class="container mt-5 pb-5">
    <h1 class="titulo fs-2 fs-md-1">Productos Frescos del Huerto</h1>
    <h4 class="subtitulo">Directo a tu mesa, cultivado con amor</h4>
    <div class="search-container mt-4">
        <div class="search-wrapper">
            <span class="search-icon">
                <img src="search.svg" alt="lupa">
            </span>
            <input type="text" class="search-input" placeholder="Buscar frutas, verduras..." (input)="onSearch($event)">
        </div>
    </div>

    <section class="categories-section mt-5">
        <h2 class="mb-4 categorias">Categorías</h2>
        <div class="categories-grid">

            @for (category of categories(); track category.id) {
            <div class="category-card" (click)="filtrarPorCategoria(category.id)"
                [class.selected]="selectedCategoryId() === category.id">
                <span class="category-icon">
                     @if (getCategoryIcon(category.name)) { <!--si el icono existe muestra ambas imagenes -->
                    <img [src]="getCategoryIcon(category.name)!.normal" [alt]="category.name" class="image-verde">
                    <img [src]="getCategoryIcon(category.name)!.white" [alt]="category.name" class="image-blanca">

                    }
                </span>
                <p>{{category.name}}</p>
            </div>

            }
        </div>
    </section>

    <section class="row mt-5">
        <h2 class="mb-4 productos"> Todos los productos</h2>
        @for(product of arrProducts(); track product.id){
        <article class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <app-product-card [myProduct]="product"></app-product-card>
        </article>
        }
    </section>

    <div class="d-flex justify-content-center align-items-center gap-2 gap-md-4 mt-4 mb-5">
        <button class="btn btn-paginacion " (click)="cambiarPagina(currentPage() - 1)"
            [disabled]="currentPage() === 1">←
            <span class="d-none d-sm d-sm-inline">Anterior</span>
        </button>
        <span class="paginacion-info shadow-sm ">
            <span class="d-none d-sm d-sm-inline">Página {{currentPage()}} de {{totalPages()}}</span>
        </span>
        <button class="btn btn-paginacion" (click)="cambiarPagina(currentPage() + 1)"
            [disabled]="currentPage() >= totalPages()">
            <span class="d-none d-sm d-sm-inline">Siguiente </span>→
        </button>
    </div>

</div>