.navbar-brand {
    padding: 10px 0;
    color: var(--color-verde);
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-hoja {
    background-color: var(--color-verde);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

}

.logo-icon {
    width: 22px;
    height: 22px;
}

.navbar-brand:hover .logo-hoja {
    transform: rotate(15deg) scale(1.1);
}

#navbarNav .icon-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.25s ease, transform 0.2s ease;
    color: var(--color-verde);
}

#navbarNav .icon-user {
    color: var(--color-verde) !important;
    transition: color 0.25s ease;
    -webkit-text-stroke: 0.6px var(--color-verde);
}

#navbarNav .icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


#navbarNav .icon-btn.active{
    background-color: var(--color-verde);
    color: var(--blanco);
    box-shadow: 0 4px 10px rgba(124, 169, 78, 0.3);
    border-radius: 50% !important;
    padding: 0;
    width: 44px;
    height: 44px;
}

#navbarNav .icon-btn:focus,
#navbarNav .icon-btn:active {
    border-radius: 50% !important;
    outline: none;
    box-shadow: none;
}

#navbarNav .icon-btn.active .icon-user {
    color: var(--blanco) !important;
    transition: color 0.25s ease;
    -webkit-text-stroke: 0.6px var(--blanco);
}

#navbarNav .icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.cart-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.img_verde,
.img_blanca {
    width: 24px;
    height: 24px;
}

#navbarNav .img_blanca {
    display: none;
}

#navbarNav .img_verde {
    display: block;
}

#navbarNav .nav-link.active .img_verde {
    display: none;
}

#navbarNav .nav-link.active .img_blanca {
    display: block;
}

#navbarNav .nav-link.active {
    background-color: var(--color-verde);
    color: var(--blanco);
    border-radius: 50%x;
    padding:0;
    box-shadow: 0 4px 10px rgba(124, 169, 78, 0.3);
}


.badge-cart {
    position: absolute;
    top: -6px;
    right: -8px;
    font-size: 11px;
    min-width: 18px;
    height: 18px;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-naranja);
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 50%;

}