<div class="container mt-5 pb-5">
    <h1>Bienvenido a nuestra tienda</h1>
    <section class="row mt-5">
        @for(product of productsPaginados(); track product.id){
            <article class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <app-product-card [myProduct]="product" (productDeleted)="eventDelete($event)"></app-product-card>
            </article>
        }
    </section>

    <div class="d-flex justify-content-center align-items-center gap-3 mt-4 mb-5" >
        <button class="btn-paginacion" (click)="currentPage.set(currentPage() - 1)" [disabled]="currentPage() === 1">← Anterior</button>
        <span class="paginacion-info shadow-sm">Página {{currentPage()}} de {{totalPages()}}</span>
        <button class="btn-paginacion" (click)="currentPage.set(currentPage() + 1)" [disabled]="currentPage() >= totalPages()">Siguiente →</button>
    </div>

</div>