.carrito {
    color: var(--color-verde);
    gap: 12px;
    display: flex;
    align-items: center;
}

.carrito img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.carrito h2 {
    margin: 0;
    font-weight: 500;
}

.cart-item {
    border: 1px solid var(--border);
    background-color: var(--blanco);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.cart-item:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
    border-color: var(--color-verde);
}

.cart-img {
    width: 70px;
    height: 75px;
    object-fit: cover;
    border-radius: 12px;
}

.quantity-display {
    min-width: 40px;
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 1rem;
}

.quantity-controls button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.2s;
}

.checkout-cart {
    border-radius: 15px;
}

.btn-mas,
.btn-menos {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    font-weight: 500;
    font-size: 24px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-mas:hover,
.btn-menos:hover {
    background-color:var(--color-verde);
    color: var(--blanco);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(124, 169, 78, 0.2);
}


.total {
    color: var(--color-verde);

}

.btn-finalizar,
.btn-tienda {
    background-color: var(--color-naranja);
    color: var(--blanco);
}

.btn-finalizar,
.btn-tienda:hover {
    background-color: var(--color-naranja-hover);
    color: var(--blanco);
}

