<div class="container mt-5">
    <h2> Tu carrito 🛒</h2>

    <div class="row g-3">
        @if (carrito().length > 0) {
        <div class="col-12">

            @for (item of carrito(); track item.product.id) {
            <div class="card cart-item p-3 mb-3">
                <div class="d-flex align-items-center">
                    <img [src]="item.product.imageUrl" [alt]="item.product.name" class="cart-img me-3">
                    <div class="flex-grow-1">
                        <h6 class="mb-1 fw-semibold">{{ item.product.name }}</h6>
                        <small class="text-muted">{{ item.product.price | currency:'EUR' }}</small>
                    </div>

                    <div class="quantity-controls d-flex align-items-center me-4">
                        <button class="btn btn-outline-danger btn-sm"
                            (click)="cartServices.decreaseQuantity(item.product)">-</button>
                        <span class="quantity-display mx-2">{{ item.quantity }}</span>
                        <button class="btn btn-outline-success btn-sm"
                            (click)="cartServices.addToCart(item.product)">+</button>
                    </div>

                    <div class="text-end">
                        <strong>{{ (item.product.price * item.quantity) | currency:'EUR' }}</strong>
                    </div>
                </div>
            </div>
            }

            <div class="text-end mt-4">
                <h3 class="mb-3">Total: {{ totalCarrito() }}€</h3>
                <button (click)="realizarPago()" class="btn btn-success btn-lg shadow">
                    Finalizar Compra
                </button>
            </div>

        </div> } @else {
        <div class="col-12">
            <div class="text-center mt-5 p-5 border rounded bg-light">
                <h4>Tu carrito está todavía vacío... 🥦</h4>
                <p class="text-muted">¡Echa un vistazo a nuestros productos frescos!</p>
                <button [routerLink]="['/home']" class="btn btn-primary btn-lg px-4 mt-3">
                    Ir a la tienda
                </button>
            </div>
        </div>
        }
    </div>
</div>